body,
html {
  background-color: #333;
  font-family: helvetica, arial, sans-serif;
  margin: 0;
  padding: 0;
}
#calculator {
  margin: 0 auto;
  max-width: 600px;
}
#calculator * {
  box-sizing: border-box;
}
#calculator h1,
#calculator h2,
#calculator p {
  padding: 0 25px;
}
#calculator h1 {
  font-size: 2rem;
}
#calculator ol,
#calculator li {
  margin: 0;
  padding: 0;
}
#calculator dl#widget {
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.3);
  max-width: 600px;
  margin: 25px;
  padding: 0;
  list-style: none;
}
#calculator dl#widget dt {
  background-color: lightgray;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  font-size: 2.0rem;
  font-weight: bold;
  margin: 0 0 15px;
  padding: 25px;
}
#calculator dl#widget dd {
  margin: 0 25px 15px;
  padding: 5px 0;
}
#calculator dl#widget dd:last-child {
  background-color: lightgray;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  font-size: 2.0rem;
  margin: 0 0 15px;
  padding: 10px 25px 25px;
}
#calculator dl#widget label {
  line-height: 1.5;
}
#calculator label {
  white-space: nowrap;
  font-size: 1.6rem;
}
#calculator input[type=text] {
  background-color: #ffffcc;
  border: 1px solid gray;
  border-radius: 5px;
  font-size: 1.6rem;
  line-height: 2;
  margin: 0;
  padding: 5px 15px;
  width: 100%;
  min-height: 50px;
}
#calculator input[type=text]::placeholder {
  font-style: italic;
}
#calculator input[type=text]#fpe {
  background-color: palegreen;
}
#calculator button#calculateMe {
  background-color: red;
  border: 1px solid gray;
  color: white;
  border-radius: 5px;
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 2;
  margin: 0 0 20px 0;
  padding: 5px 15px;
  text-transform: uppercase;
  width: 70%;
}
#calculator button#calculateMe:active,
#calculator button#calculateMe.active,
#calculator button#calculateMe:hover {
  background-color: darkred;
  transition: opacity 0.5s ease-out;
}
#calculator button#reset {
  background-color: white;
  border: 1px solid gray;
  color: black;
  border-radius: 5px;
  float: left;
  font-size: 1.6rem;
  line-height: 2;
  margin: 0 20px 20px 0;
  padding: 5px 15px;
  text-transform: uppercase;
  width: 26%;
}
#calculator button#reset:active,
#calculator button#reset.active,
#calculator button#reset:hover {
  background-color: gray;
  transition: opacity 0.5s ease-out;
}
#calculator #definitions {
  border-radius: none;
  color: white;
  -webkit-box-shadow: none;
  box-shadow: none;
  max-width: 600px;
  margin: 0 25px;
  padding: 0;
  list-style: ;
}
#calculator #definitions dt {
  font-size: 1.6rem;
  margin: 0 0 5px;
  padding: 5px 0;
}
#calculator #definitions dd {
  margin: 0 0 5px;
  padding: 5px 0;
}
#calculator section#content {
  color: white;
}
@media screen and (max-width: 634px) {
  #calculator dl#widget {
    font-size: 1rem;
  }
  #calculator dl#widget dt {
    font-size: 1.5rem;
  }
  #calculator h1 {
    font-size: 1.5rem;
  }
  #calculator #definitions {
    font-size: 1.5rem;
  }
  #calculator input[type=text],
  #calculator button {
    font-size: 1.2rem;
    line-height: 1.2;
  }
  #calculator button#reset {
    width: 25%;
  }
}
