body,
html {
  font-family: helvetica, arial, sans-serif;
  margin: 0;
  padding: 0;
}
#calculator {
  margin: 0 auto;
  max-width: 600px;
}
#calculator * {
  box-sizing: border-box;
}
#calculator h1,
#calculator p {
  padding: 0 25px;
}
#calculator ol,
#calculator li {
  margin: 0;
  padding: 0;
}
#calculator dl {
  border-radius: 12px;
  -webkit-box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.3);
  max-width: 600px;
  margin: 25px;
  padding: 25px;
  list-style: none;
}
#calculator dt {
  font-size: 24px;
  margin: 0 0 15px;
  padding: 5px 0;
}
#calculator dd {
  margin: 0 0 15px;
  padding: 5px 0;
}
#calculator label {
  white-space: nowrap;
  font-size: 24px;
}
#calculator input[type=text],
#calculator input[type=submit] {
  background: #ffffcc;
  border: 1px solid gray;
  border-radius: 5px;
  font-size: 24px;
  line-height: 2;
  margin: 0;
  padding: 5px 15px;
  width: 100%;
  min-height: 50px;
}
#calculator input[type=text]#fpe {
  background: palegreen;
}
#calculator input[type=submit] {
  background: red;
  border: 1px solid gray;
  color: white;
  border-radius: 5px;
  font-size: 24px;
  font-weight: bold;
  line-height: 2;
  margin: 0;
  padding: 5px 15px;
  text-transform: uppercase;
  width: 100%;
}
#calculator dl#definitions {
  border-radius: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  max-width: 600px;
  margin: 25px;
  padding: 25px;
  list-style: ;
}
#calculator dl#definitions dt {
  font-size: 24px;
  margin: 0 0 5px;
  padding: 5px 0;
}
#calculator dl#definitions dd {
  margin: 0 0 5px;
  padding: 5px 0;
}
